/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
}

/* Encabezado (Header) */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #d86f8f;
}

/* Sección con fondo degradado */
section {
    background: linear-gradient(to right, #3f0e2b, #9b2a3b); /* Degradado granate y morado */
    color: white;
    padding: 60px 20px;
    text-align: center;
    min-height: 70vh;
}

/* Estilos para el Hero Section */
#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #3f0e2b, #9b2a3b);
    animation: fadeIn 2s ease-out;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero h1 {
    font-size: 4.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Sombra más ligera */
    animation: textPopUp 1.5s ease-out;
}

@keyframes textPopUp {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#hero h1 span {
    display: block;
    font-size: 3.2rem;
    color: #ffdf5d; /* Dorado plano */
}

@keyframes fadeInOnce {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 15px; /* Espacio entre el botón y los iconos */
}

/* Estilos para el botón "Descarregar CV" */
.download-cv-btn {
    display: inline-block;
    background: linear-gradient(135deg, #8f0c29, #4e0f5e); /* Degradado en el botón */
    color: white;
    padding: 14px 35px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    transition: transform 0.3s ease, background 0.3s ease; /* Simplificado */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* Sombra más suave */
    margin-top: -3px;
}

.download-cv-btn:hover {
    background: linear-gradient(135deg, #4e0f5e, #8f0c29); /* Invertimos los colores en hover */
    transform: scale(1.05); /* Efecto de agrandado suave */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); /* Sombra más intensa en hover */
}

.download-cv-btn i {
    margin-right: 10px;
}

/* Estilos para los iconos sociales */
/* Estilos para los iconos sociales */
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px; /* Espacio entre los iconos */
    margin-left: 16px;

}

.social-icons a {
    display: inline-block;
}

.social-icons img:hover {
    transform: scale(1.2); /* Efecto de zoom */
}

/* Estilos para el logo de GitHub */
.logo-github {
    width: 35px;  /* Ajusta el tamaño del logo de GitHub */
    height: auto; /* Mantiene la proporción */
    transition: transform 0.3s ease;
    margin-left: 8.5px;
}

/* Estilos para el logo de Instagram */
.logo-instagram {
    width: 53px;  /* Ajusta el tamaño del logo de Instagram */
    height: auto; /* Mantiene la proporción */
    transition: transform 0.3s ease;
}

.logo-linkedin {
    width: 35px;  /* Ajusta el tamaño del logo de LinkedIn */
    height: auto; /* Mantiene la proporción */
    transition: transform 0.3s ease;
}

/* About Section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
}

.about-text {
    flex: 1;
    padding-right: 40px;
}

.about-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.about-img img:hover {
    transform: scale(1.05);
}

/* Estilos para la sección de habilidades */
#skills {
    padding: 60px 20px;
    background-color: #3f0e2b; /* Mismo fondo que el resto para mantener coherencia */
    color: white;
    text-align: center;
}

.skills-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

/* Contenedores para lenguajes y tecnologías */
.skill-container {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.15); /* Blanco semitransparente */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.skill-container:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.skill-container h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  /* Distribuir de forma uniforme */
    align-items: center;
    gap: 15px; /* Añadir espacio entre los logos */
    padding: 20px; /* Espacio interior en el contenedor */
    
}

.logo {
    max-width: 50px;  /* Tamaño máximo */
    height: auto;  /* Mantiene la proporción */
    object-fit: contain; /* Asegura que no se distorsionen las imágenes */
    filter:brightness(0.9); /* Morado intenso */
    transition: transform 0.3s ease; /* Transición más rápida */
    margin: 10px;  /* Espaciado entre imágenes */
}

.logo:hover {
    filter: none; /* Vuelve al color original al hacer hover */
    transform: scale(1.1); /* Efecto de zoom suave */
}

.logo-tech {
    max-width: 63px;  /* Tamaño máximo */
    height: auto;  /* Mantiene la proporción */
    object-fit: contain; /* Asegura que no se distorsionen las imágenes */ /* Morado intenso */
    transition: transform 0.3s ease; /* Transición más rápida */
    margin: 10px;  /* Espaciado entre imágenes */
}

.logo-tech:hover {
    filter: none; /* Vuelve al color original al hacer hover */
    transform: scale(1.1); /* Efecto de zoom suave */
}

/* Responsividad */
@media (max-width: 768px) {
    .skills-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .skill-container {
        width: 80%;
    }
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Responsividad */
@media screen and (max-width: 768px) {
    #hero h1 {
        font-size: 3rem;
    }

    .btn-icons-wrapper {
        flex-direction: column;
        gap: 20px; /* Mayor espacio en dispositivos pequeños */
    }

    .social-icons img {
        width: 35px;
        height: 35px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        padding-right: 0;
    }

    .about-img {
        margin-top: 20px;
    }
}

/* Sección de Proyectos */
#projects {
    display: flex; 
    flex-direction: column; 
}

/* Estilos para la cuadrícula de proyectos */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cuadrícula responsiva */
    gap: 20px; /* Espacio entre tarjetas */
    max-width: 1200px; /* Ancho máximo de la cuadrícula */
    margin: 0 auto; /* Centrar la cuadrícula en la página */
    margin-top: 25px;
}

/* Estilo de cada tarjeta de proyecto */
.project-card {
    position: relative;
    overflow: hidden; /* Esconde el contenido desbordado */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra inicial */
    transition: transform 0.3s, box-shadow 0.3s; /* Efectos de transformación y sombra */
    background-color: #fff; /* Fondo blanco para las tarjetas */
    color: #333; /* Color de texto */
    padding: 20px; /* Espaciado interior */
    text-align: center; /* Centrar texto */
    width: 300px; /* Ancho fijo para todas las tarjetas */
    height: 50px; /* Altura fija para todas las tarjetas */
    display: flex; /* Usar flex para centrar contenido */
    flex-direction: column; /* Permitir que el contenido se apile verticalmente */
    justify-content: center; /* Centrar verticalmente */
}

/* Efecto hover para la tarjeta */
.project-card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

/* Estilo del overlay */
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Comienza oculto */
    transition: opacity 0.3s; /* Suave transición de opacidad */
}

/* Oculta el contenido del proyecto */
.project-content {
    opacity: 1; /* Comienza visible */
    transition: opacity 0.3s; /* Transición de opacidad */
    position: relative; /* Para asegurar que el contenido esté bien posicionado */
    z-index: 1; /* Asegura que el contenido esté por encima del overlay */
}

/* Muestra el overlay y oculta el contenido al pasar el mouse */
.project-card:hover .project-overlay {
    opacity: 1; /* Aparece al pasar el mouse */
}

.project-card:hover .project-content {
    opacity: 0; /* Oculta el contenido al pasar el mouse */
}

/* Estilo del botón del proyecto */
.project-button {
    font-size: 1.2rem; /* Tamaño del texto */
    font-weight: bold; /* Negrita para el texto */
    color: #ffdf5d; /* Color dorado */
    text-decoration: none;
    padding: 10px 20px; /* Espaciado interior del botón */
    background-color: #3f0e2b; /* Color de fondo del botón */
    border-radius: 25px; /* Bordes redondeados del botón */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    position: relative; /* Asegura que el botón esté correctamente posicionado */
    z-index: 2; /* Coloca el botón por encima del overlay */
}

.project-button:hover {
    background-color: #d86f8f; /* Color del botón al pasar el mouse */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño del botón al pasar el mouse */
}

/* Estilo del contenido del proyecto */
.project-content h3 {
    font-size: 1.5rem; /* Tamaño del título */
    margin: 10px 0; /* Espacio alrededor del título */
}

/* Estilos para el encabezado */
.titols-seccio {
    text-align: center; /* Centrar el encabezado */
    font-size: 2.5rem; /* Ajustar el tamaño de la fuente */
    margin-bottom: 10px; /* Espacio debajo del encabezado */
}

#projects p {
    text-align: center; /* Centrar el párrafo */
    font-size: 1.1rem; /* Ajustar el tamaño de la fuente */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
}

/* Sección de Contacto */
#contact {
    text-align: center; /* Centrar el texto */
    padding: 40px 20px; /* Espaciado interno */
    margin: 40px auto; /* Espacio exterior y centrado */
    max-width: 800px; /* Ancho máximo para la sección */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo del encabezado */
.titols-seccio {
    font-size: 2.5rem; /* Tamaño del encabezado */
    color: #3f0e2b; /* Color del texto del encabezado */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

/* Estilos para la información de contacto */
#contact p {
    font-size: 1.2rem; /* Tamaño de texto estándar */
    line-height: 1.5; /* Mejor legibilidad */
    color: #333; /* Color de texto */
}

/* Estilo del enlace de correo */
#contact a {
    color: #ffdf5d; /* Color dorado */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición suave */
}

#contact a:hover {
    color: #d86f8f; /* Color al pasar el ratón */
}

/* Estilo para la pregunta de Goku */
.goku-question {
    font-style: italic; /* Texto en cursiva */
    margin-top: 20px; /* Espacio arriba */
    font-weight: bold; /* Negrita */
    color: #3f0e2b; /* Mismo color que el encabezado */
}











